<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<h2>Hyper news</h2>
<form action="/news/" method="get">{% csrf_token %}
    <p>Search:</p>
    <input type="text" name="q">
    </form>
<br>
 <br>
{% for grp in grouped_news %}
    <h4> {{grp.date}} </h4>
    <ul>
    {% for news in grp.news_group %}
        <li><a target="_blank" href="/news/{{news.link}}/">{{news.title}}</a></li>
    {% endfor %}
    </ul>
{% endfor %}
<a target="_blank" href="/news/create/"> Create news page </a>
</body>
</html>